<div class="header">
  <div class="logout-container">
    <!-- Top画面に遷移ボタン -->
    <button class="btn btn-info btn-sm btn-style"
            (click)="navigateToTop()"
            aria-label="Top画面に戻る">
      Top画面
    </button>
    <!-- ログアウトボタン -->
    <button class="btn btn-danger btn-style"
            (click)="logout()"
            aria-label="ログアウト">
      ログアウト
    </button>
  </div>
</div>


<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="title">ジャンルマスター管理</h2>
    <button class="btn btn-primary" (click)="navigateToNewGenre()">新規作成</button>
  </div>


  <div class="table-controls mb-3">
    <div class="input-group w-50">
      <input type="text" class="form-control" placeholder="検索" [(ngModel)]="searchText">
      <button class="btn btn-outline-dark" (click)="search()">検索</button>
    </div>
  </div>

  <table class="table table-bordered table-striped" id="userTable">
    <thead>
      <tr>
        <th>ジャンル名</th>
        <th class="text-center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let genre of genres">
        <td>{{ genre.genre_Name }}</td>
        <td>
          <div class="text-center">
            <button class="btn btn-secondary btn-sm" (click)="navigateToDetail(genre.genre_Id)">
              編集
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
