
  <!-- ヘッダー -->
<div class="header">
  <div class="logout-container">
    <button class="btn btn-danger" (click)="logout()">ログアウト</button>
  </div>
</div>
 

  <!-- コンテンツ -->
  <div class="container mt-5">
    <div class="button-container">
      <!-- ゲーム一覧画面への遷移ボタン -->
      <button (click)="navigateToGames()" class="btn btn-custom-primary">ゲーム一覧</button>

      <!-- 管理者(isAdmin=true)の場合のみ表示 -->
      <button *ngIf="isAdmin" (click)="navigateToMaster()" class="btn btn-custom-secondary">マスター管理</button>
    </div>



